---
import Layout from "../layouts/Layout.astro";
---

<Layout title="FreckleBytes">
  <main class="text-pink-500">
    <h1>Welcome from <span class="text-gradient">Astro</span></h1>
    <p>
      Check out the directory to get started.<br />
      <em>Code Challenge:</em> Tweak the "Welcome to Astro" message above.
    </p>
  </main>
</Layout>
