---
import Layout from "../layouts/Layout.astro";
import Logo from "../assets/logo.svg.astro";

import Image from "../assets/IMG_2421.png";
---

<Layout title="FreckleBytes">
  <main class="h-screen w-screen flex justify-center gap-4">
    <img src={Image} class="h-1/2" />
  </main>
</Layout>
