---
import Layout from "../layouts/Layout.astro";
---

<Layout title="FreckleBytes">
  <main>
    <h1>Welcome from <span class="text-gradient">Astro</span></h1>
    <p>
      Check out the <code>src/pages</code> directory to get started.<br />
      <em>Code Challenge:</em> Tweak the "Welcome to Astro" message above.
    </p>
  </main>
</Layout>
