---
import Layout from "../layouts/Layout.astro";
import Logo from "../assets/logo.svg.astro";
---

<Layout title="FreckleBytes">
  <main class="h-screen w-screen px-16 py-16 flex items-center">
    <Logo class="w-48 sm:w-96" />
  </main>
</Layout>
